.main-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.app-container{
  font-family: unset;
  /* text-align: center; */

}

.search-input {
  border-radius: 3px;
  color: rgb(7, 7, 7);
  font-family: unset;
  margin-left: 28px;
  margin-top: 16px;
  height: 23px;
  width: 180px;
}
